In [1]:
#calling all needed packages
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import collections

import tweepy as tw
import nltk
from nltk.corpus import stopwords
import re
import networkx
from textblob import TextBlob

import warnings
import csv
warnings.filterwarnings("ignore")

sns.set(font_scale=1.5)
sns.set_style("whitegrid")
print("cell 1 17\11")

cell 1 17

In [2]:
consumer_key="eqIQASCB8Y3FMj5Z1C5ikKzfc"
consumer_scret="aeEtnufunsCIwrqm7wNU9AEIyqF94FS6GY1c4z0zTs8qchjjqt"
access_token="1377948754658009093-BMOABJw3AlCOLAtd3x1ouIZiGJ4HNZ"
access_token_scret="I628eefbnpWzUDwvg9uV7ZtkDqzFcLUnOvYi56nEDbViE"
print("cell2  17/11")

cell2  17/11

In [3]:
#authontication
auth=tw.OAuthHandler(consumer_key,consumer_scret)
auth.set_access_token(access_token,access_token_scret)
api=tw.API(auth,wait_on_rate_limit=True)
print("cell3  17/11")

cell3  17/11

In [4]:
#remove url
def remove_url(txt):
    """Replace URLs found in a text string with nothing 
    (i.e. it will remove the URL from the string)."""
    print("url removed")
    """"Parameters
    ----------
    txt : string
        A text string that you want to parse and remove urls.

    Returns
    -------
    The same txt string with url's removed.
    """

    return " ".join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", txt).split())
print("cell 4 17/11")

cell 4 17/11

In [5]:
#various file are created with several #tags on mask like mask,#mask,#maskon,#WearAMask#WearYourMask,#WearAFuckingMask#facemask to collect all tweets and sorted them in seperate file INDIA MASKTWEETS.csv
import csv
search_term = "mask" + "-filter:retweets"
csvFile=open(r'C:\Users\DELL\Desktop\mask covid19\mask dataset\file11113.csv','a')


with csvFile:
    csvWriter=csv.writer(csvFile)
    for tweet in  tw.Cursor(api.search,
                   q=search_term,
                   lang="en",
                   since='2020-07-01').items():
      csvWriter.writerow([tweet.created_at,tweet.text.encode('utf-8'),tweet.user.screen_name.encode('utf-8'),tweet.user.location.encode('utf-8')])
print(type(tweet))
print("file  updated")

TweepError: Twitter error response: status code = 401

In [55]:
#collected indian tweets
import numpy as np
tweets = pd.read_csv(r'C:\Users\DELL\Desktop\mask covid19\mask dataset\INDIA MASKTWEETS.csv',header=None,names=["created_at","text","screen_name","location"])
#np.random.seed(0)
tweets.head()

,created_at,text,screen_name,location
0,19-09-2021 06:25,b'#Loot\nGet Pharmeasy Plus 3 Months Membershi...,b'on9deals',"b'Mumbai, India'"
1,19-09-2021 04:45,"b'@traffic_jpr Is face mask still mandatory, i...",b'mrinaljaipur',"b'Jaipur, India'"
2,19-09-2021 04:22,b'Don\xe2\x80\x99t let your guard down. The #C...,b'MayaSharmaNDTV',"b'Bengaluru, India'"
3,18-09-2021 12:45,"b'By using Mask and Getting Vaccinated, you un...",b'DoITCRaj',"b'Jaipur, India'"
4,18-09-2021 08:28,"b'On an average , 4 out of 10 people I see ins...",b'sajanjohn',"b'Bengaluru, India'"

In [56]:
tweets.shape
#type(tweets)
#print(test.shape)

(4408, 4)

In [57]:
def removeb(text):
    text=text.replace("b/'","")
 
#data_tweet['tweet']=data_tweet['tweet'].apply(removeb)

In [58]:
user_text=pd.DataFrame(data=tweets,columns=['text','location', 'screen_name'])
user_text

,text,location,screen_name
0,b'#Loot\nGet Pharmeasy Plus 3 Months Membershi...,"b'Mumbai, India'",b'on9deals'
1,"b'@traffic_jpr Is face mask still mandatory, i...","b'Jaipur, India'",b'mrinaljaipur'
2,b'Don\xe2\x80\x99t let your guard down. The #C...,"b'Bengaluru, India'",b'MayaSharmaNDTV'
3,"b'By using Mask and Getting Vaccinated, you un...","b'Jaipur, India'",b'DoITCRaj'
4,"b'On an average , 4 out of 10 people I see ins...","b'Bengaluru, India'",b'sajanjohn'
...,...,...,...
4403,"b""@micsolana If you want to die you can get #c...",b'India',b'DhopateSaurabh'
4404,"b""Don't forget to wear your mask! Stay Safe.\n...","b'Pune, India'",b'igiftlife'
4405,"b""Got my 2nd dose of #Corona #vaccine today. U...","b'India ,Odisha,Keonjhar (\xe0\xac\x93\xe0\xad...",b'mahanta_keshari'
4406,b'Captain of #ChennaiSuperKings (CSK) #Mahendr...,"b'New Delhi, India'",b'NH_India'
4407,b'All #COVID19 advisory were on #Tickets only ...,b'India',b'Shubhamtomaradi'

In [59]:
#user = [[tweet.location,tweet.screen_name] for tweet in tweets]
#print(type(user))
user_text=pd.DataFrame(data=tweets,columns=['location', 'screen_name'])
user_text
#type(tweets)

                                               location         screen_name
0                                      b'Mumbai, India'         b'on9deals'
1                                      b'Jaipur, India'     b'mrinaljaipur'
2                                   b'Bengaluru, India'   b'MayaSharmaNDTV'
3                                      b'Jaipur, India'         b'DoITCRaj'
4                                   b'Bengaluru, India'        b'sajanjohn'
...                                                 ...                 ...
4403                                           b'India'   b'DhopateSaurabh'
4404                                     b'Pune, India'        b'igiftlife'
4405  b'India ,Odisha,Keonjhar (\xe0\xac\x93\xe0\xad...  b'mahanta_keshari'
4406                                b'New Delhi, India'         b'NH_India'
4407                                           b'India'  b'Shubhamtomaradi'

[4408 rows x 2 columns]

In [84]:
type(tweets.text)
tweet_str=str(tweets.text)
type(tweet_str)
tweet_str

'0       0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n1       0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n2       0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n3       0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n4       0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n                              ...                        \n4403    0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n4404    0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n4405    0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n4406    0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\n4407    0 bLootnGet Pharmeasy Plus 3 Months Membershi1...\nName: text, Length: 4408, dtype: object'

In [86]:
type(tweet_str)

str

In [93]:
tweets_no_urls = [remove_url(tweet) for tweet in tweet_str ]

In [94]:
tweets_no_urls[:10]

['0', '', '', '', '', '', '', '', '0', '']